.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.feedback {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
    display: inline-block;
}

.feedback h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.feedback p {
    margin-bottom: 0;
}

.feedback b {
    font-weight: bold;
}

.lista-container {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.lista {
    list-style: none;
    padding: 0;
}

.lista li {
    margin-bottom: 10px;
}
